.round-button{
    height: 50px;
    width:50px;
    min-height: 50px;
    min-width: 50px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 52%;
    border: 2px solid white;
    margin: 0 10px;
}
.round-button:hover{
    opacity: 80%;
}
.red{
    background-color: red;
    border: 1px solid crimson;
    margin: 0 10px;
}
.green{
    background-color: green;
    border: 1px solid rgb(21, 235, 117);
    margin: 0 10px;
}
.blue{
    background-color: blue;
    border: 1px solid rgb(4, 4, 70);
    margin: 0 10px;
}
.selected{
    border:solid 3px white;
}
.flex-container{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
    flex-direction: row;
}
canvas{
   border: solid 2 px black;
   background-color: white;
}
.button{
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background: black;
    font-weight: bold;
    margin: 0 5px;
}
.color-picker{
    align-self: center;
    margin: 0 5px;
    height: 50px;
}
.pen-range{
    align-self: center;
    margin: 0 5px;
    height: 50px;
}